:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--mat-sys-surface);
}

mat-toolbar {
  flex-shrink: 0;
  background: inherit;
}

.sidebar {
  flex: 1;
  width: 250px;
  overflow-y: auto;

}

.nav-list {
  padding: 1rem 0;
}

mat-nav-list {
  padding: 0;
}

::ng-deep {
  .mat-mdc-list-item {
    &.active {
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);
    }

    &:hover {
      background-color: var(--mat-sys-surface-container);
    }
  }
}
